# This is a basic workflow to help you get started with Actions

name: Package module

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: generate module.prop
        run: |
           git_hash=$(git rev-parse --short HEAD)
           git_branch=${GITHUB_REF#refs/heads/}
           rm module.prop
           touch module.prop
           echo id=lhroot >> module.prop
           echo name=Linux Chroot Installer >> module.prop
           echo version=${{ git_hash }} >> module.prop
           echo versionCode=99999 >> module.prop
           echo author=FerryAr, modified by Paddlebus >> module.prop
           echo description=Systemless linux chroot installer and chroot boot script >> module.prop

      # Runs a set of commands using the runners shell
      - name: Package module into zip
        run: |
          zip -r ./ lhroot-${{ git_hash }}.zip
          echo test, and deploy your project.
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v3
        with:
           name: LHRoot
           path: lhroot-${{ git_hash }}
           retention-days: 14

